<p *ngIf="error">{{error | json}}</p>

<form [formGroup]="form" (submit)="onSubmit()">
  <label for="username">Username</label>
  <input type="username" name="username" formControlName="username" />
  <br />

  <label for="email">Email</label>
  <input type="email" name="email" formControlName="email" />
  <br />

  <label for="password">Password</label>
  <input type="password" name="password" formControlName="password" />
  <br />

  <label for="passwordAgain">Password again</label>
  <input type="password" name="passwordAgain" formControlName="passwordAgain" />
  <br />

  <button type="submit" [disabled]="loading">{{loading ? 'Wait...' : 'Register'}}</button>
  <br />
</form>