<div id="top">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/media/self">My camera</a></li>
  </ul>
  <hr />

  <app-users-list></app-users-list>
  <hr />
</div>

<div id="bottom">
  <ul>
    <ng-container *ngIf="user$ | async; else guest">
      <li><a href="#" (click)="onLogout()">Logout</a></li>
    </ng-container>

    <ng-template #guest>
      <li><a routerLink="/auth/login">Login</a></li>
      <li><a routerLink="/auth/register">Register</a></li>
    </ng-template>
  </ul>
</div>