<p *ngIf="error">{{error | json}}</p>

<form [formGroup]="form" (submit)="onSubmit()">
  <label for="login">Username or Email</label>
  <input type="text" name="login" formControlName="login" />
  <br />

  <label for="password">Password</label>
  <input type="password" name="password" formControlName="password" />
  <br />

  <button type="submit" [disabled]="loading">{{loading ? 'Wait...' : 'Login'}}</button>
  <br />
</form>